*{
   box-sizing: border-box;
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   text-align: justify;
 
}
body{
    background-color: rgb(211,217,226);
}
.container{
    margin: 15px auto;
}
.main-page-header{
    padding: 10px 0px;
}
.main-page-header .company-name{
    font-weight: 600;
    color: white;
}
.navigation{
  
    margin-left: 20px;
}
.navigation li{
    display:inline-block;
    list-style-type: none;
    margin: 0px 15px;
}
.navigation li a{
    
    color: white;
    text-decoration: none;
}
.display-name{
    font-weight: 600;
}

#transact-btn{
    background-color: #FFB114;
    border: 1px solid #543800;
    box-shadow: 0px 3px 6px rgb(0,14,53);
}
#add-account-btn{
    background-color: #FF4E00;
    border:1px solid #8B2B00;
    color:white;
    box-shadow: 0px 3px 6px rgb(0,14,53);
}

.offcanvas{

    background-image:url("../images/offcanvas.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
.transact-btn{
    background-color: #FF4E00;
    border:1px solid #8B2B00;
    color:white;
    box-shadow: 0px 3px 6px rgb(0,14,53);
}
.payment-card{
    display: none;
}
.transfer-card{
    display: none;
}
.deposite-card{
    display: none;
}
.withdraw-card{
    display: none;
}